body {
}

.inactive, .tentative {
    stroke: darkgray;
    stroke-width: 2px;
    stroke-dasharray: 5 5;
}

.tentative {
    opacity: .5;
}

.active {
    stroke: black;
    stroke-width: 4px;
    stroke-dasharray: 1;
}

circle {
    fill: pink;
    stroke: black;
    stroke-width: 1px;
}

rect {
    fill: darkgray;
}

#borderdiv {
    width: 200px;
    height: 50px;
    border: 1px solid gray;
}

text {
font-size: 10px;
}

g > text.active {
font-size: 30px;
}

circle.inactive {
fill: gray;
}